.App {
  text-align: center;

}


.Mbti_main{
  width: 40%;
  height: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 65px;
  border: 2px solid black;
}
.Mbti_main img {
width: 400px;
height: 50%;
}
.Mbti_main button {
  width: 50%;
  height: 65px;
  margin-bottom: 30px;
  border-radius: 20px;
  font-size: 30px;
  background-color: white;

}

.Qs_content{
  width: 40%;
  height: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  border: 2px solid black;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
